* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #eceef1;
  font-weight: 400;
}

header {
  display: flex;
  width: 100%;
  padding: 10px 30px 0 0;
  justify-content: flex-end;
  color: dimgray;
  font-size: 13px;
}

header ._button {
  background-color: #0077c5;
  border-radius: 5px;
  border: 1px solid#000;
  color: #fff;
  padding: 0.4rem 1rem;
  margin: 0 0 0 10px;
}

a {
  text-decoration: none;
}

.wraper {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
}

.wraper .main_section {
  background-color: #fff;
  height: auto;
  border: 0.5px solid #ccc;
  padding: 2rem;
  max-width: 400px;
}

.main_section ._paragph {
  text-align: center;
}

.main_section .title {
  text-align: center;
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  font-weight: 400;
  line-height: 3.5rem;
}

label {
  display: inline-block;
  margin: 20px 0 0 0;
}

.wrap {
  border: 0.5px solid #ccc;
  max-width: 400px;
  margin: 10px 0 20px 0;
}

.logo {
  width: 100%;
  height: 40px;
  margin-bottom: 20px;
  text-align: center;
}

.svgs {
  text-align: center;
}

svg {
  display: inline-block;
  margin-bottom: 10px;
}

.main_section ._btn {
  background-color: #0077c5;
  border: 0.5px solid #ccc;
  width: 100%;
  border-radius: 4px;
  padding: 1rem 0;
  color: #fff;
  font-size: large;
  font-weight: lighter;
}

input {
  border: 1px solid #ccc;
  padding: 0.5rem;
  border-radius: 3px;
  width: 100%;
  display: inline-block;
  margin: 10px 0 5px 0;
}

.captcha {
  text-align: center;
  background-color: #eceef1;
  font-size: 10px;
  margin-bottom: 5px;
  padding: 20px 0;
  color: dimgray;
}

.info {
  font-size: 10px;
  font-weight: lighter;
  padding: 5px 0 20px 0;
}

.privacy {
  font-size: 14px;
  text-align: center;
  margin: 10px 25px;
  line-height: 1.2rem;
}

.footer {
  text-align: center;
  padding: 25px 200px;
  font-size: 13px;
  line-height: 1.5em;
}

.footer a {
  padding: 0 4px;
}
